<div class="well">
		<h2><%= @topic.title %></h2>
		<p><%= @topic.body %></p>
</div>
    <% unless current_user && current_user.already_favorited?(@topic) %>

          <%= link_to "Favorite", favorite_path(@topic, type: "favorite"), method: :put , class: "waves-effect waves-light btn" %>
            <% else %>
            <%= link_to "Unfavorite", favorite_path(@topic, type: "unfavorite"), method: :put %>
          <% end -%>
    



<hr>
<h3> Comments </h3>


<% if @topic.comments.any? %>


<div class="commentsList">
  <%= render @topic.comments %>
</div>
<% end -%>
 

<div class="commentsForm">
  <%= render "comments/form" %>
</div>
